.header {
  min-height: calc(100vh - 100px);
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  @include breakpoint-down(md) {
    grid-template-columns: 1fr;
    transform: translateY(-100px);
  }
  &__column1 {
    height: 100%;
    display: grid;
    align-content: center;
    padding-bottom: 5em;
  }
  &__column2 {
    height: 100%;
    display: grid;
    align-content: center;
    padding: 5em 0;
    @include breakpoint-down(md) {
      display: none;
    }
  }
  &__title {
    color: var(--primary-text);
    line-height: 1.1em;
    font-weight: 700;
  }
  &__subtitle {
    color: var(--primary-color);
    margin-bottom: 1em;
    @include breakpoint-down(sm) {
      font-size: 16px;
    }
  }
  &__introduction {
    color: var(--secondary-text);
    margin-top: 1em;
  }
  &__link {
    display: inline-block;
    color: var(--primary-color);
    text-decoration: none;
    margin-top: 2em;
  }
  &__img {
    display: block;
    width: 100%;
    margin: 0 auto;
    transform: translateX(3vw);
    @include breakpoint-down(md) {
      width: 75%;
    }
    @include breakpoint-down(sm) {
      width: 90%;
    }
  }
  &__scroll {
    position: absolute;
    bottom: 3em;
    transform: translateX(-50%);
    left: 50%;
    height: 60px;
    width: 60px;
    filter: brightness(0) invert(1);
    transition: all 0.5s;
  }
  &__fadeOut {
    opacity: 0;
    transform: translate(-50%, 20px);
  }
}
