.nav {
  height: 100px;
  width: 100%;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  gap: 2.5em;
  &__link {
    text-decoration: none;
    font-size: 1.1em;
    transition: color .2s;
    &:hover {
      color: var(--primary-text);
    }
  }
  &__contact {
    position: absolute;
    right: 10%;
    top: 50%;
    transform: translateY(-50%);
    text-decoration: none;
    border: 1px solid var(--secondary-text);
    padding: 12px 35px;
    border-radius: 30px;
    transition: background-color .2s, border .2s, color .2s;
    &:hover {
      color: var(--primary-text);
      background-color: var(--primary-color);
      border: 1px solid var(--primary-color);
    }
  }
}