.nav {
  height: 100px;
  width: 100%;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  gap: 2.5em;
  @include breakpoint-down(xl) {
    justify-content: start;
    padding-left: 10%;
  }
  &__link {
    text-decoration: none;
    transition: color 0.2s;
    @include breakpoint-down(md) {
      display: none;
    }
    &:hover {
      color: var(--primary-text);
    }
  }
  &__contact {
    position: absolute;
    right: 10%;
    top: 50%;
    transform: translateY(-50%);
    text-decoration: none;
    border: 1px solid var(--secondary-text);
    padding: 12px 35px;
    border-radius: 30px;
    transition: background-color 0.2s, border 0.2s, color 0.2s;
    &:hover {
      color: var(--primary-text);
      background-color: var(--primary-color);
      border: 1px solid var(--primary-color);
    }
    @include breakpoint-down(md) {
      display: none;
    }
  }
  &__mobile-menu {
    position: fixed;
    width: 30px;
    top: 40px;
    right: 40px;
    z-index: 10;
    cursor: pointer;
    filter: brightness(0) invert(1);
    @include breakpoint-up(md) {
      display: none;
    }
  }
}
